.navContainer {
  background-color: $background-dark;
  grid-area: Nav;
}

.topSection,
.bottomSection {
  border-bottom: .05rem solid $border-dark;
  padding: 2rem 1rem;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-between;
}

.navH1 {
  color: $font-light;
}

.navH3 {
  color: $font-medium;
}

.navBtn {
  background-color: $background-button;
  border: .05rem solid $border-dark;
  color: $font-light;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .5rem;
}
